:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}

body {
    background-color: var(--Violet);
    background-image: url("images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    text-align: left;
    padding: 1rem 2rem;   
}

header img {
    width: 8rem;
    margin-left: 10%;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 60rem;
    padding: 2rem;
    gap: 2rem;
}

.column-1, .column-2 {
    flex: 1;
}

.column-1 img {
    width: 100%;
    max-width: 45rem;
    height: auto;
    
}
.column-2 h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
.column-2 p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 2rem;
}

button {
    background-color: white;
    border: none;
    border-radius: 50px;
    padding: 0.7rem 3rem;
    color: var(--Violet);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    box-shadow: 0.3rem 0.3rem 0.8rem 0.001rem hsl(0, 0%, 20%);
    cursor: pointer;
}

@media  (max-width: 768px) {
    body {
        background-image: url("images/bg-mobile.svg");
    }
    main {
        flex-direction: column;
        text-align: center;
    }
    .column-1, .column-2 {
        max-width: 100%;
    }
    .column-2 {
        padding: 0 1rem;
    }
    .column-2 h1, .column-1 p {
        padding: 0;
    }
    footer {
        justify-content: center !important;
    }
}

footer {
    width: 100%;
    padding: 1rem 2rem;
    position: relative;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0 5rem;
}
footer ul li {
    display: inline;
}
.icon:hover {
    cursor: pointer;
    color: var(--Soft-Magenta);
}
button:hover {
    background-color: var(--Soft-Magenta);
    color: white;
    cursor: pointer;
}
