/* 
- Violet: hsl(257, 40%, 49%)
- Soft Magenta: hsl(300, 69%, 71%)

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  Weights: 400
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

Poppins
Weights: 400, 600
 */

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 375px){
    main {
        flex-direction:  column;
        min-width: none;
    }
   .column-1 {
    order: 1;
   }
   .column-2 {
    order: 2;
   }
}
